html, body {
    background-color: white;
    overflow: hidden;
    color: black;
    background: no-repeat center fixed;
    background-size: cover;
    object-fit: cover;
    height: 100%;
}

#artwork {
    text-align: center;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    border: black;
    border-radius: 5px;
    align-items: center;
}

#artwork-img {
    width: 680px;
    background-color: rgba(4, 0, 2, 0.1);
    box-shadow: 1px 1px 70px black, inset 10px 100px 60px white;
    border-radius: 60px;
    margin: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

#dummybanner {
    height: 5%;
}

#meaningdiv {
    position: absolute;
    left: 12%;
    border-radius: 10px;
    border-color: white;
    background-color: rgba(141, 204, 205, 0.8);
    box-shadow: 20px 20px 150px black, inset 0px 25px 100px white;
    padding: 15px;
    width: 75%;
    font-size: 20px;
}
