html, body {
    background-color: white;
    overflow: hidden;
    color: black;
    background: no-repeat center fixed;
    background-size: cover;
    object-fit: cover;
    height: 100%;
}

#artwork {
    text-align: center;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    border: black;
    border-radius: 5px;
    align-items: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

#dummybanner {
    height: 5%;
}

#steerdiv {
    position: absolute;
    left: 12%;
    border-radius: 10px;
    border-color: white;
    background-color: rgba(141, 204, 205, 0.6);
    box-shadow: 20px 20px 150px black, inset 0px 50px 100px lightblue, inset 0px 35px 20px white;
    padding: 15px;
    width: 75%;
}

#steerdiv > input {
    background-color: white;
    color: black;
    border-color: lightgray;
    width: 290px;
    height: 30px;
    border-radius: 5px;
}

#steerdiv > button {
    background-color: #ccc;
    color: black;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: inset 0px 20px 10px white;
    height: 40px;
    margin: 5px;
}

#steerdiv > button:hover {
    background-color: lightblue;
    border-color: #66b3ff;
    color: black;
    transition: all, 0.4s;
}

#resetButtons > button {
    background-color: #ccc;
    font-size: 16px;
    color: black;
    border-radius: 20px;
    border-color: lightgray;
    box-shadow: inset 0px 75px 10px white;
    height: 150px;
    width: 250px;
    margin: 5px;
}

#resetButtons > button:hover {
    background-color: lightblue;
    box-shadow: inset 0px 75px 10px white;
    border-color: #66b3ff;
    color: black;
    transition: all, 0.4s;
}
