html, body {
    background-color: black;
    overflow: hidden;
    color: white;
    background: no-repeat center fixed;
    background-size: cover;
    object-fit: cover;
    height: 100%;
}

#artwork {
    text-align: center;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    border: black;
    border-radius: 5px;
    align-items: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

#dummybanner {
    height: 5%;
}

#steerdiv {
    position: absolute;
    left: 12%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 75%;
}

#steerdiv > input {
    background-color: black;
    color: white;
    border-color: aqua;
    width: 290px;
    height: 30px;
    border-radius: 5px;
}

#steerdiv > button {
    background-color: black;
    color: white;
    border-radius: 5px;
    border-color: aqua;
    height: 30px;
}

#steerdiv > button:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: aqua;
    height: 30px;
}

#resetButtons > button {
    background-color: black;
    color: white;
    border-radius: 5px;
    border-color: aqua;
    height: 150px;
    width: 250px;
    margin: 5px;
}

#resetButtons > button:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: aqua;
    margin: 5px;
    transition-duration:
}
